In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, date, timedelta

# %pip install openpyxl

In [2]:
data = pd.read_excel('hw-01-class-data.xlsx')
data

,In which country were you born?,In which city were you born?,"In which languages (spoken, not programming!) are you proficient? (Please list languages separated by commas).",Which is your preferred OS?,Which is your preferred mobile OS?,"What field(s) do you think can benefit the most from visualization? (If you have multiple answers, please separate them with a comma)",Please rank the animals you like most in the following list. [First Choice],Please rank the animals you like most in the following list. [Second Choice],Please rank the animals you like most in the following list. [Third Choice ],What is your favorite color?,What is your favorite number?,What temperature is it outside right now? (In Celsius),"On average, how many cups of coffee do you drink each day?",What time do you typically wake up?,What time do you typically go to bed?,What is your favorite visualization?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,"Los Angeles, California",English,Apple,Apple iOS,NaN,Flying squirrel,Dolphin,Cat,Blue,97,2,0,10:00:00,00:00:00,NaN
2,Netherlands,Haarlem,"Dutch, English",Windows,Apple iOS,Journalism,Sea Turtle,Hedgehog,Dog,Blue,8,1,1,08:00:00,12:00:00,I'm not sure. FiveThirtyEight.com does cool vi...
3,United States,"Rockville, Maryland","English, Korean",Windows,Apple iOS,Philosophy,Dolphin,Dog,Sea Turtle,Green,9,NaN,0.5,08:00:00,00:00:00,Pie Charts
4,United States,Warwick,English,Windows,Apple iOS,Finance,Dog,Elephant,Dolphin,Blue,3,3,1,09:00:00,01:00:00,Maps
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Ethiopia,Addis Abeba,"English, Amharic",Windows,Apple iOS,I would be interested in using it for design,Elephant,Cat,Sea Turtle,Yellow,8,24 F,0,08:00:00,00:00:00,polls on map of USA
103,USA,Yonkers,"English, Korean",Windows,Apple iOS,I think data and business analysts can benefit...,Dog,Cat,Moose,Blue,11,-9,0,10:00:00,03:00:00,Histogram
104,United States of America,Chicago,"English, Spanish","Use Apple a lot, but more versed on windows",Apple iOS,"Public Service, Finance, Tech",Cat,Dolphin,Flying squirrel,Red,8,-10,1.5,08:00:00,01:00:00,"Object based, whether it be a map with specifi..."
105,India,Hyderabad,"English, Telugu",Apple,Apple iOS,"Marketing, Politcs",Llama,Cat,Elephant,Orange,21,-11.11,0.3,11:00:00,02:30:00,The kobe bryant shot chart.
106,United States,Colorado Springs,Spanish,Windows,Apple iOS,"Machine Learning, Healthcare",Dog,Flying squirrel,Dolphin,Sunset orange,13,8,0,05:00:00,21:00:00,A mosaic

In [3]:
data.dtypes

In which country were you born?                                                                                                          object
In which city were you born?                                                                                                             object
In which languages (spoken, not programming!) are you proficient? (Please list languages separated by commas).                           object
Which is your preferred OS?                                                                                                              object
Which is your preferred mobile OS?                                                                                                       object
What field(s) do you think can benefit the most from visualization? (If you have multiple answers, please separate them with a comma)    object
Please rank the animals you like most in the following list.   [First Choice]                                                            object
Please rank the animals you like most in the following list.   [Second Choice]                                                           object
Please rank the animals you like most in the following list.   [Third Choice ]                                                           object
What is your favorite color?                                                                                                             object
What is your favorite number?                                                                                                            object
What temperature is it outside right now? (In Celsius)                                                                                   object
On average, how many cups of coffee do you drink each day?                                                                               object
What time do you typically wake up?                                                                                                      object
What time do you typically go to bed?                                                                                                    object
What is your favorite visualization?                                                                                                     object
dtype: object

In [4]:
data.shape

(107, 16)

In [5]:
data.isnull().sum()

In which country were you born?                                                                                                           4
In which city were you born?                                                                                                              6
In which languages (spoken, not programming!) are you proficient? (Please list languages separated by commas).                            6
Which is your preferred OS?                                                                                                               4
Which is your preferred mobile OS?                                                                                                        4
What field(s) do you think can benefit the most from visualization? (If you have multiple answers, please separate them with a comma)    14
Please rank the animals you like most in the following list.   [First Choice]                                                             4
Please rank the animals you like most in the following list.   [Second Choice]                                                            4
Please rank the animals you like most in the following list.   [Third Choice ]                                                            4
What is your favorite color?                                                                                                              4
What is your favorite number?                                                                                                             4
What temperature is it outside right now? (In Celsius)                                                                                    6
On average, how many cups of coffee do you drink each day?                                                                                4
What time do you typically wake up?                                                                                                       4
What time do you typically go to bed?                                                                                                     4
What is your favorite visualization?                                                                                                     20
dtype: int64

In [6]:
# 26 rows with null
data[data.isnull().any(axis=1)].shape

(26, 16)

In [7]:
for col in data.columns:
    print(col)

In which country were you born?
In which city were you born?
In which languages (spoken, not programming!) are you proficient? (Please list languages separated by commas).
Which is your preferred OS?
Which is your preferred mobile OS?
What field(s) do you think can benefit the most from visualization? (If you have multiple answers, please separate them with a comma)
Please rank the animals you like most in the following list.   [First Choice]
Please rank the animals you like most in the following list.   [Second Choice]
Please rank the animals you like most in the following list.   [Third Choice ]
What is your favorite color?
What is your favorite number?
What temperature is it outside right now? (In Celsius)
On average, how many cups of coffee do you drink each day?
What time do you typically wake up?
What time do you typically go to bed?
What is your favorite visualization?

In [8]:
# lambda function to extract first number in a string
get_nums = lambda x: [float(num) for num in str(x).split() if num.isdigit()]
get_first_num_else_nan = lambda x: x[0] if len(x) > 0 else np.nan

In [9]:
# Problem row, change to just 7

data['What is your favorite number?'].replace('7 and 2', '7', inplace=True)
data['What is your favorite number?'].replace('Don\'t have one.', np.nan, inplace=True)

# Change to floats
data['What is your favorite number?'] = data['What is your favorite number?'].astype(float)

In [13]:
# Change to lists of floats and then get first element if it exists
data['What temperature is it outside right now? (In Celsius) '] = data['What temperature is it outside right now? (In Celsius) '].apply(get_nums)
data['What temperature is it outside right now? (In Celsius) '] = data['What temperature is it outside right now? (In Celsius) '].apply(get_first_num_else_nan)

In [14]:
# Apply same lambda function to extract numbers
data['On average, how many cups of coffee do you drink each day?'] = data['On average, how many cups of coffee do you drink each day?'].apply(get_nums)
data['On average, how many cups of coffee do you drink each day?'] = data['On average, how many cups of coffee do you drink each day?'].apply(get_first_num_else_nan)
data['On average, how many cups of coffee do you drink each day?'].unique()

array([nan,  0.,  1.,  3.,  2.])

In [15]:
data['What is your favorite color?'].unique()

array([nan, 'Blue', 'Green', 'purple', 'green', 'Purple ', 'Rose gold ',
       'Red', 'Black', 'Pink', 'blue', 'grey', 'Baby blue', 'Purple',
       'Orange', 'navy', 'pink', 'Sage Green', 'I like all!', 'Yellow',
       'Navy', 'Pastel Mint', 'Light blue', 'Purpler', 'red', 'White',
       'Baby Pink', 'Cerulean', 'Pastel Mint Green', 'Sunset orange'],
      dtype=object)

In [16]:
# Renaming columns
data = data.rename(columns={'In which country were you born?': 'Birth Country', 'In which city were you born?': 'Birth City',
                     'In which languages (spoken, not programming!) are you proficient? (Please list languages separated by commas). ': 'Languages Spoken' ,
                     'Which is your preferred OS?': 'Preferred OS' , 'Which is your preferred mobile OS?': 'Preferred Mobile OS' , 
                            'What field(s) do you think can benefit the most from visualization? (If you have multiple answers, please separate them with a comma)': 'Field to Benefit from Vis' ,
                            'Please rank the animals you like most in the following list.   [First Choice]': 'Animal 1' , 
                            'Please rank the animals you like most in the following list.   [Second Choice]': 'Animal 2' , 
                            'Please rank the animals you like most in the following list.   [Third Choice ]': 'Animal 3' ,
                     'What is your favorite color?': 'Favorite Color' , 'What is your favorite number?': 'Favorite Number' , 
                            'What temperature is it outside right now? (In Celsius) ': 'Current Outside Temp (C)' , 
                            'On average, how many cups of coffee do you drink each day?': 'Cups of Coffee Each Day' , 
                            'What time do you typically wake up? ': 'Wake Time' , 
                            'What time do you typically go to bed? ': 'Bed Time' , 
                            'What is your favorite visualization? ': 'Favorite Visualization'})

In [17]:
# drop rows that are all null/na

data.dropna(axis=0, how='all', inplace=True)

In [18]:
# Strip whitespace from strings
data = data.apply(lambda x: x.strip() if type(x) == str else x)

In [19]:
data.isnull().sum()

Birth Country                 0
Birth City                    2
Languages Spoken              2
Preferred OS                  0
Preferred Mobile OS           0
Field to Benefit from Vis    10
Animal 1                      0
Animal 2                      0
Animal 3                      0
Favorite Color                0
Favorite Number               1
Current Outside Temp (C)     67
Cups of Coffee Each Day      13
Wake Time                     0
Bed Time                      0
Favorite Visualization       16
dtype: int64

In [20]:
# Filling na values for quantitative variables with mean

data['Current Outside Temp (C)'].fillna(data['Current Outside Temp (C)'].mean(), inplace=True)
data['Cups of Coffee Each Day'].fillna(data['Cups of Coffee Each Day'].mean(), inplace=True)

In [24]:
data

,Birth Country,Birth City,Languages Spoken,Preferred OS,Preferred Mobile OS,Field to Benefit from Vis,Animal 1,Animal 2,Animal 3,Favorite Color,Favorite Number,Current Outside Temp (C),Cups of Coffee Each Day,Wake Time,Bed Time,Favorite Visualization
1,USA,"Los Angeles, California",English,Apple,Apple iOS,NaN,Flying squirrel,Dolphin,Cat,Blue,97.0,2.000000,0.000000,10:00:00,00:00:00,NaN
2,Netherlands,Haarlem,"Dutch, English",Windows,Apple iOS,Journalism,Sea Turtle,Hedgehog,Dog,Blue,8.0,1.000000,1.000000,08:00:00,12:00:00,I'm not sure. FiveThirtyEight.com does cool vi...
3,USA,"Rockville, Maryland","English, Korean",Windows,Apple iOS,Philosophy,Dolphin,Dog,Sea Turtle,Green,9.0,3.638889,0.588889,08:00:00,00:00:00,Pie Charts
4,USA,Warwick,English,Windows,Apple iOS,Finance,Dog,Elephant,Dolphin,Blue,3.0,3.000000,1.000000,09:00:00,01:00:00,Maps
5,USA,"Needham, MA",NaN,Apple,Apple iOS,Data Science,Hedgehog,Elephant,Llama,Blue,3.0,3.000000,0.000000,09:00:00,00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Ethiopia,Addis Abeba,"English, Amharic",Windows,Apple iOS,I would be interested in using it for design,Elephant,Cat,Sea Turtle,Yellow,8.0,24.000000,0.000000,08:00:00,00:00:00,polls on map of USA
103,USA,Yonkers,"English, Korean",Windows,Apple iOS,I think data and business analysts can benefit...,Dog,Cat,Moose,Blue,11.0,3.638889,0.000000,10:00:00,03:00:00,Histogram
104,USA,Chicago,"English, Spanish","Use Apple a lot, but more versed on windows",Apple iOS,"Public Service, Finance, Tech",Cat,Dolphin,Flying squirrel,Red,8.0,3.638889,0.588889,08:00:00,01:00:00,"Object based, whether it be a map with specifi..."
105,India,Hyderabad,"English, Telugu",Apple,Apple iOS,"Marketing, Politcs",Llama,Cat,Elephant,Orange,21.0,3.638889,0.588889,11:00:00,02:30:00,The kobe bryant shot chart.
106,USA,Colorado Springs,Spanish,Windows,Apple iOS,"Machine Learning, Healthcare",Dog,Flying squirrel,Dolphin,Sunset orange,13.0,8.000000,0.000000,05:00:00,21:00:00,A mosaic

In [22]:
# Different representations of U.S.
usa_set = set([x for x in data['Birth Country'] if x[0] == 'U'])

In [23]:
# Replace them with standardized USA
data['Birth Country'].replace(to_replace=usa_set, value='USA', inplace=True)

In [82]:
data

,Birth Country,Birth City,Languages Spoken,Preferred OS,Preferred Mobile OS,Field to Benefit from Vis,Animal 1,Animal 2,Animal 3,Favorite Color,Favorite Number,Current Outside Temp (C),Cups of Coffee Each Day,Wake Time,Bed Time,Favorite Visualization,Sleep Duration
1,USA,"Los Angeles, California",English,Apple,Apple iOS,NaN,Flying squirrel,Dolphin,Cat,Blue,97.0,2.000000,0.000000,10:00:00,00:00:00,NaN,10:00:00
2,Netherlands,Haarlem,"Dutch, English",Windows,Apple iOS,Journalism,Sea Turtle,Hedgehog,Dog,Blue,8.0,1.000000,1.000000,08:00:00,12:00:00,I'm not sure. FiveThirtyEight.com does cool vi...,08:00:00
3,USA,"Rockville, Maryland","English, Korean",Windows,Apple iOS,Philosophy,Dolphin,Dog,Sea Turtle,Green,9.0,3.638889,0.588889,08:00:00,00:00:00,Pie Charts,08:00:00
4,USA,Warwick,English,Windows,Apple iOS,Finance,Dog,Elephant,Dolphin,Blue,3.0,3.000000,1.000000,09:00:00,01:00:00,Maps,08:00:00
5,USA,"Needham, MA",NaN,Apple,Apple iOS,Data Science,Hedgehog,Elephant,Llama,Blue,3.0,3.000000,0.000000,09:00:00,00:00:00,NaN,09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Ethiopia,Addis Abeba,"English, Amharic",Windows,Apple iOS,I would be interested in using it for design,Elephant,Cat,Sea Turtle,Yellow,8.0,24.000000,0.000000,08:00:00,00:00:00,polls on map of USA,08:00:00
103,USA,Yonkers,"English, Korean",Windows,Apple iOS,I think data and business analysts can benefit...,Dog,Cat,Moose,Blue,11.0,3.638889,0.000000,10:00:00,03:00:00,Histogram,07:00:00
104,USA,Chicago,"English, Spanish","Use Apple a lot, but more versed on windows",Apple iOS,"Public Service, Finance, Tech",Cat,Dolphin,Flying squirrel,Red,8.0,3.638889,0.588889,08:00:00,01:00:00,"Object based, whether it be a map with specifi...",07:00:00
105,India,Hyderabad,"English, Telugu",Apple,Apple iOS,"Marketing, Politcs",Llama,Cat,Elephant,Orange,21.0,3.638889,0.588889,11:00:00,02:30:00,The kobe bryant shot chart.,08:30:00
106,USA,Colorado Springs,Spanish,Windows,Apple iOS,"Machine Learning, Healthcare",Dog,Flying squirrel,Dolphin,Sunset orange,13.0,8.000000,0.000000,05:00:00,21:00:00,A mosaic,08:00:00

In [48]:
# Function to change time to 12 hour scale
am_pm = lambda x: x.replace(hour = x.hour - 12) if x.hour >= 12 else x

# Function to change time to 24 hour scale
to_24 = lambda x: x.replace(hour = x.hour + 12) if x.hour >= 6 else x.replace(second = 1)

In [65]:
bt = data['Bed Time']
bt.max().hour

23

In [67]:
timedelta(hours=24) - timedelta(hours = bt.max().hour, minutes = bt.max().minute)

datetime.timedelta(seconds=1800)

In [ ]:
# Change the scale
data['Bed Time'] = data['Bed Time'].apply(change_time)

In [42]:
# datetime(1,1,1,12,30) - datetime(1,1,1,10,30)
# datetime.combine(date.today(), datetime(0,0,1,1,30))
# time_change = datetime.timedelta(hours=10)
# new_time = date_and_time + time_change
date_and_time = datetime(2020, 2, 19, 0, 0, 0)
d = date_and_time + timedelta(hours=1)
d

datetime.datetime(2020, 2, 19, 1, 0)

In [51]:
start = data['Bed Time'].iloc[0]
end = data['Wake Time'].iloc[0]

In [55]:
datetime.combine(date.today(), end) - datetime.combine(date.today(), start)

datetime.timedelta(seconds=36000)

In [53]:
print(timedelta(seconds=36000))

10:00:00

In [80]:
# Function to compute sleep time
def sleep_times(bed_times, wake_times):
    sleep_times = []
    for bed, wake in zip(bed_times, wake_times):
        bed = am_pm(bed)
        bed = to_24(bed)
        
        sleep = None
        
        # if am time
        if bed.second == 1:
            sleep = datetime.combine(date.today(), wake) - datetime.combine(date.today(), bed) + timedelta(seconds=1)
            sleep = (datetime.min + sleep).time()
        else:
            sleep = (datetime.combine(date.today(), wake) + (timedelta(hours=24) - timedelta(hours = bed.hour, minutes = bed.minute))).time()
        sleep_times.append(sleep)
#         print(bed, wake, sleep)
#         bed = change_time(bed)
#         sleep = datetime.combine(date.today(), wake) - datetime.combine(date.today(), bed)
#         print(sleep)
    return sleep_times
    
sleep_times(data['Bed Time'], data['Wake Time'])

[datetime.time(10, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(9, 0),
 datetime.time(9, 0),
 datetime.time(10, 0),
 datetime.time(9, 30),
 datetime.time(8, 30),
 datetime.time(8, 0),
 datetime.time(9, 0),
 datetime.time(9, 30),
 datetime.time(6, 50),
 datetime.time(9, 0),
 datetime.time(7, 30),
 datetime.time(8, 0),
 datetime.time(6, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(7, 10),
 datetime.time(9, 0),
 datetime.time(9, 30),
 datetime.time(9, 30),
 datetime.time(10, 30),
 datetime.time(9, 30),
 datetime.time(7, 0),
 datetime.time(8, 0),
 datetime.time(7, 30),
 datetime.time(7, 30),
 datetime.time(8, 30),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(5, 0),
 datetime.time(9, 30),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(7, 45),
 datetime.time(9, 0),
 datetime.time(9, 0),
 datetime.time(9, 0),
 datetime.time(8, 0),
 datetime.time(9, 0),
 datetime.time(9, 0),
 datetime.time(10, 0),
 datetime.time(7, 30),
 datetime.time(11, 0),
 datetime.time(7, 30),
 datetime.time(7, 30),
 datetime.time(7, 30),
 datetime.time(9, 0),
 datetime.time(8, 0),
 datetime.time(7, 0),
 datetime.time(10, 0),
 datetime.time(7, 30),
 datetime.time(9, 30),
 datetime.time(11, 0),
 datetime.time(5, 40),
 datetime.time(8, 0),
 datetime.time(8, 30),
 datetime.time(9, 0),
 datetime.time(8, 30),
 datetime.time(8, 30),
 datetime.time(8, 0),
 datetime.time(6, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(7, 30),
 datetime.time(9, 0),
 datetime.time(7, 15),
 datetime.time(7, 0),
 datetime.time(7, 30),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(6, 30),
 datetime.time(8, 0),
 datetime.time(7, 0),
 datetime.time(9, 0),
 datetime.time(7, 30),
 datetime.time(11, 0),
 datetime.time(11, 0),
 datetime.time(9, 0),
 datetime.time(7, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(6, 0),
 datetime.time(9, 0),
 datetime.time(8, 0),
 datetime.time(8, 30),
 datetime.time(9, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(8, 0),
 datetime.time(6, 45),
 datetime.time(8, 30),
 datetime.time(8, 30),
 datetime.time(8, 0),
 datetime.time(7, 0),
 datetime.time(7, 0),
 datetime.time(8, 30),
 datetime.time(8, 0)]

In [81]:
data['Sleep Duration'] = sleep_times(data['Bed Time'], data['Wake Time'])

In [76]:
# pd.DataFrame({'a': [(datetime.min + timedelta(seconds=36000)).time()], 'b' : [1]})
pd.DataFrame({'a': [(datetime.min).time()], 'b' : [1]})

          a  b
0  00:00:00  1

In [ ]:
data['Bed Time'].iloc[0] - data['Wake Time'].iloc[0]

In [ ]:
date = datetime.date(1, 1, 1)
# datetime1 = datetime.datetime.combine(date, start_time)
# datetime2 = datetime.datetime.combine(date, stop_time)
# time_elapsed = datetime1 - datetime2

In [ ]:
data

In [ ]:
data.to_excel('clean_data.xlsx', index=False, sheet_name='Clean Survery Data')